*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f7edff;
}

.buttons{
    margin: 50px;
}

button{
    background-color: #333;
    color: #fff;
    border: 0;
    outline: 0;
    width: 120px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.notification{
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: flex-end;
    border: 0;

}

.pop{
    background-color: #fff;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    width: 13rem;
    text-align: center;
    font-weight: 500;
    border: 0;
    position: relative;
    transform: translateX(100%);
    animation: anim2 0.1s linear forwards;
}

@keyframes anim2 {
    100%{
        transform: translateX(0);
    }
}

.pop i{
    color:green;
}

.pop.error i{
    color: red;
}

.pop.invalid i{
    color: orange;
}

.pop::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    background: green;
    animation: anim 3.5s ease-in-out forwards;
}
@keyframes anim {
    100%{
        width: 0;
    }
}

.pop.error::after{
    background-color: red;
}

.pop.invalid::after{
    background-color: orange;
}